*{
   margin:0;
   padding;0
}
body{
    background-image:url(/Users/finjo/Desktop/nick-kane-eaI3VpRnMbw-unsplash.jpg);
    background-size: 100% 700px;
    background_repeat:no repeat;
h1{
   text-align:center;
   padding:20px;
   color:white
}
h2{
   text-align:center;
   padding:20px;
}
.register{
   width:500px;
   margin:0px 0px 0px 430px;
   color:blue;
   font-size:18px
       padding:20px;
   broder-radius:10px;
}
#register{
    margin-left:50px;
}
label{ 
     color:yellow
     font-family: sans-serif;
     font-size:18px
}
#name{
     width:300px;
     border: none;
     border-radius: 3px;
     outline:0;
     padding:7px;
}
#ph{
     width:65px;
     padding:7px
     border: none;
     border-radius: 3px;
     outline:0;
     
}
#num{
       width:230px;
     padding:7px
     border: none;
     border-radius: 3px;
     outline:0;
     
}
#sub{
     width:200px;
     padding:7px
     font-size:16px;
     font-family: sans-serif;
     font-style:italic;
     font-weight:600;
     border: none;
     border-radius: 3px;
     outline:0;
     
}


